<%- include header.ejs%>
<%- include main_nav.ejs%>
  <!--HOME-->
  <div id="/about" class="container"></div>
  <div class="container-fluid">
    <div id="home" class="align-items-center">
        <div class="row homerow" >
            <div id="hometext" class="col-lg-10 mx-auto text-center">
                <p class="mx-auto" id="welcome"><h1>Welcome to Maria's Portfolio!</h1></p>
                <p class="mx-auto" id="mission">Her mission is to develop software solutions by studying needed information, conferring with users and studying systems data usage and processes. 
                    <br>Her background as an educator shapes her interest in web designing and mobile application development. <br>
                    In pursuit of excellence, challenges may come along the way but with diligence and 
                    persistence, her passion to learn may someday be rewarded. <br>To achieve this, she doesnt forget to be grounded by her religious belief and love for her cratfs.<br/> 
                    </p>      
            </div>
        </div>
        <!--btn to aboutme-->
      <div id="startbtn" class="row">
          <div id="viewworksbtn" class="col btn btn-lg">
              <a href="/about">About Me</a>
          </div>
      </div>
  </div>
</div>
<%- include bottom_nav.ejs %> 
<%- include footer.ejs %> 

