/*custom css goes here */
body {
    font-family: 'Open Sans', sans-serif;
 }
 
.container-fluid {
    padding:0px;
}
 a {
    color: black;
 }
 a:hover {
    text-decoration: none;
    color: white;
 }

 .btn {
    padding: 0;
 }

 .navbar-expand-sm .navbar-nav .nav-link {
    padding-right: 1.5rem;
    padding-left: 1.5rem;
 }

/*------------home------------*/
#home {
    border: 1px solid pink;
    position: relative;
    background-image: url(../Assets/images/bgimage.jpg);                                                               
    height: 120vh;
    background-size: cover;
    text-align: center;
}

#hometext {
    width: 70%;
    color: white;
    z-index: 2;
    position: relative;
    display: inline-block;
}

#welcome {
    font-size: 3rem;
}

#mission {
    color: rgba(255,255,255,0.8)!important;
    font-size: 1.5rem;
}

.homerow {
    margin-top: 15%;
}

#startbtn {
    position: relative;
    display: inline-block;
    margin-top:10%
}

#viewworksbtn {
    border: 1.5px solid white;
    font-size: 1.5rem;
}

#viewworksbtn:hover {
    background-color: #22a6b3;
    border: 1.5px solid #22a6b3;
    transition-duration: 0.3s;
}

#viewworksbtn a {
    padding: 10px 40px;
    display: block;
    color: #ffffff;
    transition-duration: 0.3s;
}

#navbar {
    background-color: #1B242F;
    position: fixed;
    width: 100%;
    display: block;
    transition: top 0.6s;
    border-bottom: 3px solid #22a6b3;
    z-index:3;
  }
  
.nav-item a:hover {
      color: #22a6b3;
  }

/*------------about------------*/
#about-wrapper {
    width: 100%;
    text-align: center;
    height: 250px;
}

 #every-title {
    font-family: sans-serif;
     color: #444649;
     font-size : 40px;
     position: relative;
     padding-top: 100px;
     display: inline-block;
     border-bottom: 3px solid #444649;
 }

 #about-profile {
    height: 285px;
    width: 100%;
    margin: 0 auto;
 }

 .resume a{
    color: #009ADA;
 }

 .resume a:hover{
    text-decoration: underline;
}

 #about-profile .about-myprofile {
    width: 250px;
    float: left;
    margin-right: 25px;
    margin-top: -30px;
}

 #about-profile .about-introduce {
    width: 100%;
    height: 270px;
    text-align: center;
    font-size: 20px;
}

.about-introduce .introduce-name {
    font-size: 20px;
}

.text-highlight {
    color: #009ADA;
}

.about-myprofile > .mypicture {
    width: 100%;
}

.about-myprofile > .whoami {
    font-family: 'Roboto', sans-serif;
    color: #616161;
    font-size: 25px;
    text-align: center;
}

.mypicture img {
    width: 100%;
    height: 100%;
}

#about-skill {
    width: 100%;
    text-align: center;
    height: 900px;
}

#about-skill > .skill-wrapper {
    width: 75%;
    height: 750px;
    position: relative;
    display: inline-block;
    margin-top: 10px;
}

.skill-wrapper > .skill-box {
    margin-bottom: 10px;
    box-shadow: 2px 2px 6px grey;
    width: 100%;
    height: 150px;
}

.skill-wrapper > .skill-box > .skill-img {
    width: 23%;
    margin-left: 0;
    float: left;
    padding-top: 15px;
}

.skill-wrapper > .skill-box > .skill-img > img {
    margin: 0 auto;
    max-height: 100px;
    padding-bottom: 10px;
    text-align: center;
    vertical-align: middle;
    display: table-cell;
}

.skill-box .skill-img-mysql {
    padding-top: 5px;
    width: 23%;
    margin-left: 0;
    float: left;
    padding-top: 10px;
}

.skill-box .skill-img-mysql > img {
    width: 60%;
    padding-top: 11px;
    padding-bottom: 35px;
    margin: 0 auto;
    max-height: 100px;
    text-align: center;
    vertical-align: middle;
    display: table-cell;
}
/*------------projects------------*/
.projectbg{
    background-color:#f5f5f5;
}

#projects{
    position: relative;
    height: 120vh;
    background-size: cover;
    text-align: center;
}
#projects-wrapper{
    width: 100%;
    text-align: center;
    height: 250px;  
}

#projects .row {
    height: 60vh;

}
#projects img{
    width: 100%;
    height: 45%;
}

.card .btn {
    border: 1.5px solid #444649;
    padding: 10px 15px;
    transition-duration: 0.3s;
}

.card .btn:hover {
    background-color: #22a6b3;
    border: 1.5px solid #22a6b3;
    transition-duration: 0.3s;
}

.card .ongoing {
    background-color: #22a6b3;
    border: 1.5px solid #22a6b3;
}
.card .ongoing:hover {
    cursor: not-allowed;
}
/*------------service------------*/
.service_card {
    height:42vh;
}
.service_card img {
    width: 100%;
    height: 100%;
}

.service_card_2 {
    height: 36vh;
}

.service_card_2 img {
    width: 100%;
    height: 100%;
}

#services .card {
    padding-top: 10%;
    padding-bottom: 10%;

    border: 0px;
    border-top: 1px solid #444649;
}

.card-body h6 {
    line-height: 2;
}

#services .card2 {
    padding-bottom: 150px;
}

/*------------contact------------*/

#block {
    padding-top: 63px;
}

#info h6{
    color:#ffffff;
}
  .show {
    display: inline-block !important;
  }

  #contact {
      margin-top: -10px;
      background-color: #252934;
  }

  #contact > .contact-wrapper {
      width: 100%;
      height: 110vh;
      text-align: center;
  }

  #contact .contact-title {
    font-family: sans-serif;
    color: #fff;
    font-size : 40px;
    position: relative;
    padding-top: 100px;
    display: inline-block;
    border-bottom: 3px solid #fff;
  }

  #contact .contact-hightlight {
    font-weight: 600;
    color: #04C2C9;
    padding-top: 35px;
    padding-bottom: 35px;
  }

  #contact .contact-form {
    margin-top: 30px;
    width: 50%;
    margin: 0 auto;
    padding-bottom: 5%;
  }

  #contact .contact-form input {
    background-color: #1E242C;
    border: 1px solid #1E242C;
    width: 100%;
    height: 40px;
    font-size: 16px;
    color: white;
    margin-bottom: 5px;
    padding-left: 13px;
  }

  #contact .contact-form textarea {
    background-color: #1E242C;
    border: 1px solid #1E242C;
    width: 100%;
    height: 150px;
    font-size: 16px;
    color: white;
    padding-left: 13px;
  }

  #contact .contact-form .button {
    border: 2.5px solid #fff;
    width: 120px;
    height: 45px;
    margin-top: 5px;
    transition-duration: 0.5s;
    cursor: pointer;
    padding-left: 0;
    padding-right: 0;
  }

  #contact .contact-form .button:hover {
    background-color: #22a6b3;
    border: 1.5px solid #22a6b3;
    transition-duration: 0.5s;
  }
  
/*------------footer------------*/
  footer {
    width: 100%;
    height: 10%;
    background: #1B242F;
    text-align: center;
  }
  
footer .copyright {
    font-size: 10pt;
    color: #8F9AA7;
    opacity: 0.6;
    padding-top: 3%;
    padding-bottom: 3%;
}

footer .copyright .highlight_copyright {
    color: #E31B6D;
}


